* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(75, 150, 154);
}

.nav-links {
  display: flex;
}

.nav-links h3 {
  margin-left: 10px;
}

main {
  background-color: rgb(230, 166, 76);
  flex-grow: 1;
}

footer {
  background-color: rgb(75, 150, 154);
}
